/* body */
body{
    margin: 0;
    padding: 0;
}
/* navigation */
.nav-link:hover{
    border: 0.5px solid #4dabf7;
    border-radius: 10px;
}
/* section 1 */
.section1{
    padding: 4rem;
}
/* section 2 */
.icon{
    font-size: 3rem;
    color: white;
}
.icon-container{
    background-color: #4dabf7;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem;
}
.section2{
    background-color: whitesmoke;
    padding: 4rem;
}
/* section 3 */
.section3{
    margin: 4rem;
}
.img-fluid{
    height: 350px;
    width: 350px;
    margin: 1rem;
}
.img-fluid:hover{
    opacity: 0.5;
}
/* section 4 */
.section4{
    background: url("/static/images/form-back.jpg");
    background-size: cover;
}
.form-control{
    background-color: transparent;
    margin: -0.5rem;
}
.form-check-input{
    background-color: grey;
}
.btn-send{
    float: right;
}
.btn{
    color: whitesmoke;
}
/* footer */
.social-media-icon i{
    font-size: 2rem;
}
.social-media-icon i:hover{
    color: #4dabf7;
}